# Project Title: Analyzing City of Chicago Payroll Data using Pandas

# Author: Shaifur Rahman
# Date: 27 JULY 2025
# Description: In this project i can write code using different pandas function
# This project aims to analyze the City of Chicago Payroll Dataset using the Python pandas library.
# The operations include data loading, cleaning, filtering, sorting, grouping, visualization, and deriving insights.

1. Import pandas as pd.
and numpy as np

In [1]:
import pandas as pd
import numpy as np

**2. Read City_of_Chicago_Payroll_Data.csv as a dataframe in pay.**

In [3]:
pay = pd.read_csv('City_of_Chicago_Payroll_Data.csv')

**3. Show first five records in your data.**

In [4]:
pay.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN

**3. Get the overview of your data.<br>**

In [5]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

**4. How many 'NaN' you have in each column in your data?**<br>
*Hint: use [<code>isnull()</code>](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)*

In [6]:
pay.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

**5. Output the statistics for your dataset.**

In [ ]:
pay.describe()

       Typical Hours
count    7883.000000
mean       34.698719
std         9.145553
min        10.000000
25%        20.000000
50%        40.000000
75%        40.000000
max        40.000000

In [ ]:
pay.describe(include='all')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
count,32658,32658,32658,32658,32658,7883.000000,24775,7883
unique,32350,1095,36,2,2,NaN,1038,167
top,"HERNANDEZ, JUAN C",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",$35.60
freq,5,9393,12973,30676,24775,NaN,2368,1404
mean,NaN,NaN,NaN,NaN,NaN,34.698719,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,9.145553,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN

**6. What are the maximum, minimum and average Typical Hours? (use 'Typical Hours' column)**<br>

In [ ]:
print(pay['Typical Hours'].max())
print(pay['Typical Hours'].min())
print(pay['Typical Hours'].mean())

40.0
10.0
34.69871876189268

7. How many employees are on salary and how many are working on hourly basis?

In [7]:
#The method value_counts() is used to: Count how many times each unique value appears in a column.

print('Hourly : ',pay['Salary or Hourly'].value_counts()['Hourly'])
print('Salary : ',pay['Salary or Hourly'].value_counts()['Salary'])

Hourly :  7883
Salary :  24775

1. pay.groupby('Salary or Hourly')
This groups the entire dataset into two categories based on the 'Salary or Hourly' column:

One group where the value is "Salary"

One group where the value is "Hourly"

2. [['Salary or Hourly']]
You're selecting the 'Salary or Hourly' column within the grouped data.

Its placed inside double square brackets to keep it as a DataFrame (not Series).

3. .count()
This counts non-null values in the 'Salary or Hourly' column for each group.

In [8]:
pay['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    24775
Hourly     7883
Name: count, dtype: int64

In [9]:
pay.groupby('Salary or Hourly')[['Salary or Hourly']].count()

                  Salary or Hourly
Salary or Hourly
Hourly                        7883
Salary                       24775

In [10]:
pay.groupby('Salary or Hourly')[['Name']].count()

                   Name
Salary or Hourly
Hourly             7883
Salary            24775

**8. Which department has maximum no of employees?**

In [11]:
# value count alawys count differ categorical value how many time present in a colum
# it gives result dissending order (max to min vlaue)
# head(1) becouse only max valuse i want ot see

pay['Department'].value_counts().head(1)

Department
POLICE    12973
Name: count, dtype: int64

**9. How many employees are on Salary and how many are on Hourly in the Police department?**

1. Filtering the Dataset:

df = pay[pay['Department'] == 'POLICE']

creating a new DataFrame called df.

This new df contains only the rows where the employee works in the POLICE department.

This is called Boolean indexing  it filters data based on a condition.


Now df contains only Police department records.

2. Counting Salary vs Hourly in Police Department:

df['Salary or Hourly'].value_counts()
This counts how many Police employees are paid "Salary" and how many are "Hourly".

In [12]:
df = pay[pay['Department']=='POLICE']
df['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64

In [13]:
pay[pay['Department']=='POLICE']['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64

**10. What are the mean, max and min salaries?**

In [14]:
pay['Salary'] = pay['Annual Salary'].str.replace('$', '')

In [15]:
pay['Salary'] = pay['Salary'].str.replace(',', '').astype(float)

In [16]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0
...,...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",NaN,90024.0
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,"$87,006.00",NaN,87006.0
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,"$93,354.00",NaN,93354.0
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,"$115,932.00",NaN,115932.0

In [17]:
print('min Salary :', pay['Salary'].min())
print('max Salary :', pay['Salary'].max())
print('mean Salary :', pay['Salary'].mean())

min Salary : 0.96
max Salary : 300000.0
mean Salary : 87512.78024137235

**11. Find the employee who has the maximum salary.

In [18]:
pay[pay['Salary'] == pay['Salary'].max()][['Name','Salary']]

                  Name    Salary
8310  EVANS,  GINGER S  300000.0

**12. Find the employee who has the minimum salary.**

In [19]:
pay[pay['Salary']==pay['Salary'].min()][['Name','Salary']]

                 Name  Salary
15387  KOCH,  STEVEN     0.96

**13. What are the mean, max and min Hourly Rate?**

In [20]:
pay.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,"$91,080.00",NaN,91080.0
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,"$114,846.00",NaN,114846.0
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,"$96,060.00",NaN,96060.0
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,"$53,076.00",NaN,53076.0
10,"FINN, SEAN P",FIREFIGHTER,FIRE,F,Salary,NaN,"$87,006.00",NaN,87006.0
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,$14.51,NaN
12,"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,"$96,060.00",NaN,96060.0
13,"GRAFF, KEVIN M",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0
14,"GUNN, ISSAC J",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,"$80,868.00",NaN,80868.0
15,"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0
16,"HATTULA, CARL J",SERGEANT,POLICE,F,Salary,NaN,"$107,988.00",NaN,107988.0
17,"HILL, LATINA P",PARAMEDIC,FIRE,F,Salary,NaN,"$72,510.00",NaN,72510.0
18,"HOLLER, JOEL P",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
19,"HROMA JR, JOHN",SERGEANT,POLICE,F,Salary,NaN,"$107,988.00",NaN,107988.0

In [21]:
hourly_rate = pay['Hourly Rate'].str.replace('$', '').astype(float)
pay[hourly_rate == hourly_rate.min()][['Name', 'Hourly Rate']]

                          Name Hourly Rate
60            ABBOTT,  BETTY L      $2.65
341      AL AMIN,  RASHEEDAH K      $2.65
427         ALEXANDER,  MARY F      $2.65
805         ANDERSON,  ROSLYN       $2.65
1153   AUGUSTAVE,  LAFONTANT J      $2.65
...                        ...         ...
32186           XIE,  DE KUAN       $2.65
32224     YASHCENKO,  LARISA V      $2.65
32247              YE,  SONG D      $2.65
32274          YOUNG,  AMANDA       $2.65
32340              YU,  MING Z      $2.65

[209 rows x 2 columns]

In [22]:
pay.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,"$91,080.00",NaN,91080.0
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,"$114,846.00",NaN,114846.0
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,"$96,060.00",NaN,96060.0
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,"$53,076.00",NaN,53076.0
10,"FINN, SEAN P",FIREFIGHTER,FIRE,F,Salary,NaN,"$87,006.00",NaN,87006.0
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,$14.51,NaN
12,"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,"$96,060.00",NaN,96060.0
13,"GRAFF, KEVIN M",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0
14,"GUNN, ISSAC J",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,"$80,868.00",NaN,80868.0
15,"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0
16,"HATTULA, CARL J",SERGEANT,POLICE,F,Salary,NaN,"$107,988.00",NaN,107988.0
17,"HILL, LATINA P",PARAMEDIC,FIRE,F,Salary,NaN,"$72,510.00",NaN,72510.0
18,"HOLLER, JOEL P",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0
19,"HROMA JR, JOHN",SERGEANT,POLICE,F,Salary,NaN,"$107,988.00",NaN,107988.0

In [23]:
pay[hourly_rate == hourly_rate.max()][['Name', 'Hourly Rate']]

                 Name Hourly Rate
14317  JONES,  JOHN W     $96.00

In [24]:
hourly_rate.mean()

np.float64(32.86819231257135)

In [26]:
pay['H_Rate']=pay['Hourly Rate'].str.replace('$', '').astype(float)

In [27]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN,107790.0,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN,114324.0,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN,76932.0,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",NaN,90024.0,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,"$87,006.00",NaN,87006.0,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,"$93,354.00",NaN,93354.0,NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,"$115,932.00",NaN,115932.0,NaN

In [29]:
print('min Hourly Rate :', pay['H_Rate'].min())
print('max Hourly Rate :', pay['H_Rate'].max())
print('mean Hourly Rate :', pay['H_Rate'].mean())

min Hourly Rate : 2.65
max Hourly Rate : 96.0
mean Hourly Rate : 32.86819231257135

**14. How many employees are getting max Hourly Rate?**

In [30]:
max_hourlyRate_count=pay[hourly_rate == hourly_rate.max()]
max_hourlyRate_count.shape[0]

1

In [33]:
pay[pay['H_Rate']==pay['H_Rate'].max()]['H_Rate'].count()

np.int64(1)

In [35]:
pay[pay['H_Rate']==pay['H_Rate'].max()].count()['Name']

np.int64(1)

In [36]:
pay[pay['H_Rate']==pay['H_Rate'].max()].count()

Name                 1
Job Titles           1
Department           1
Full or Part-Time    1
Salary or Hourly     1
Typical Hours        1
Annual Salary        0
Hourly Rate          1
Salary               0
H_Rate               1
dtype: int64

15. Who is getting max Hourly Rate?

In [37]:
pay[pay['H_Rate']==pay['H_Rate'].max()][['Name','H_Rate']]

                 Name  H_Rate
14317  JONES,  JOHN W    96.0

16. How many employees are earning less than the average Hourly Rate?

In [40]:
pay[pay['H_Rate']<pay['H_Rate'].mean()][['Name','H_Rate']].count()

Name      2791
H_Rate    2791
dtype: int64

In [41]:
pay[pay['H_Rate']<pay['H_Rate'].mean()][['Name','H_Rate']]

                         Name  H_Rate
11           FITCH,  JORDAN M   14.51
54          ABASCAL,  REECE E   19.66
60           ABBOTT,  BETTY L    2.65
70       ABDULLAH,  LAKENYA N   17.50
73      ABDUL-SHAKUR,  TAHIR    20.77
...                       ...     ...
32551      ZIELINSKI,  TECLA    22.14
32625      ZUNIGA JR,  JAMES    23.31
32631        ZUNIGA,  THOMAS    21.43
32635      ZURAWSKI,  CAROL A   22.14
32643  ZWARYCZ MANN,  IRENE A   17.50

[2791 rows x 2 columns]

17. How many employees are paid hourly and they have full-time job?

In [44]:
pay.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN,107790.0,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN,104628.0,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN,114324.0,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN,76932.0,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN,111474.0,NaN

In [47]:
pay[(pay['Salary or Hourly']=='Hourly') & (pay['Full or Part-Time']=='F')].count().head(1)

Name    5906
dtype: int64

**18. Find the full-time employees who are working at hourly rate of $10.00?**

In [53]:
pay[(pay['Full or Part-Time']=='F') & (pay['H_Rate']==10)]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
1232,"AYALA JR, JESUS",STUDENT INTERN,HUMAN RESOURCES,F,Hourly,35.0,NaN,$10.00,NaN,10.0
4522,"CERVANTES, BIANCA A",STUDENT INTERN,BUDGET & MGMT,F,Hourly,35.0,NaN,$10.00,NaN,10.0
6476,"DAVILA, ROBERTO A",ALDERMANIC AIDE,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0
16474,"LEVY, ETHAN",CLERK CITY COUNCIL,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0

**19. How many unique Job Titles are there in the data?**

In [57]:
pay['Job Titles'].nunique()

1095

In [58]:
pay['Job Titles'].unique()

array(['LIEUTENANT', 'SERGEANT', 'LIEUTENANT-EMT', ...,
       'COORD OF PRINTING SERVICES - GRAPHICS', 'PROJECT DIR',
       'MECHANICAL ENGINEER IV'], dtype=object)

20. What was the average Salary of the employees in each department?

In [61]:
pay.groupby('Department')[['Salary']].mean()

                             Salary
Department
ADMIN HEARNG           78912.947368
ANIMAL CONTRL          66089.684211
AVIATION               76140.018777
BOARD OF ELECTION      56051.142857
BOARD OF ETHICS        94552.500000
BUDGET & MGMT          93925.395349
BUILDINGS              98864.833534
BUSINESS AFFAIRS       80446.425000
CITY CLERK             69762.439024
CITY COUNCIL           63577.172069
COMMUNITY DEVELOPMENT  88363.257143
COPA                   98784.705882
CULTURAL AFFAIRS       87048.909091
DISABILITIES           82431.724138
DoIT                   99681.029703
FAMILY & SUPPORT       79013.588785
FINANCE                73276.364662
FIRE                   97762.348662
GENERAL SERVICES       83095.528390
HEALTH                 85488.210938
HUMAN RELATIONS        93778.588235
HUMAN RESOURCES        79851.761194
INSPECTOR GEN          84030.666667
IPRA                   94429.285714
LAW                    84582.814404
LICENSE APPL COMM      80568.000000
MAYOR'S OFFICE         96165.512308
OEMC                   73153.778221
POLICE                 87836.025349
POLICE BOARD           86136.000000
PROCUREMENT            83278.243902
PUBLIC LIBRARY         71273.288136
STREETS & SAN          84347.775701
TRANSPORTN             89976.896061
TREASURER              88062.652174
WATER MGMNT            89894.111803

21. What is the job title of 'AGAR, BULENT B'? please note, there are two spaces between AGAR, and BULENT.

In [68]:
pay[pay['Name']=='AGAR, BULENT B']['Job Titles']

Series([], Name: Job Titles, dtype: object)

In [69]:
pay[pay['Name']=='AGAR,  BULENT B']['Job Titles']

230    CHIEF ENGINEER OF SEWERS
Name: Job Titles, dtype: object

22. What are the top most common job titles?

In [71]:
pay['Job Titles'].value_counts().head(5)

Job Titles
POLICE OFFICER                            9393
FIREFIGHTER-EMT                           1424
SERGEANT                                  1118
POOL MOTOR TRUCK DRIVER                    996
POLICE OFFICER (ASSIGNED AS DETECTIVE)     845
Name: count, dtype: int64

23. How many people have the word 'officer' in their job title? (This is pretty tricky)

In [73]:
pay[pay['Job Titles'].str.contains('officer', case=False)]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,"$96,060.00",NaN,96060.0,NaN
12,"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,"$96,060.00",NaN,96060.0,NaN
15,"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0,NaN
27,"MOORE, TED D",POLICE OFFICER,POLICE,F,Salary,NaN,"$87,006.00",NaN,87006.0,NaN
35,"ROBINSON, HAROLD",POLICE OFFICER,POLICE,F,Salary,NaN,"$93,354.00",NaN,93354.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32652,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0,NaN
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",NaN,90024.0,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN,48078.0,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,"$87,006.00",NaN,87006.0,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,"$93,354.00",NaN,93354.0,NaN

Why use case=False?
By default, str.contains() is case-sensitive, so:

'Officer' 

'officer' 

'OFFICER' 

'oFfIcEr' 
only if you set case=False.

If you don't use case=False, then it will only match exactly as typed,


So, using case=False ensures you match all versions



###

Why use .shape[0]?
.shape[0] gives you the number of rows.

You're filtering the DataFrame with job titles containing 'officer', and then getting how many such rows exist.

In [74]:
pay[pay['Job Titles'].str.contains('officer', case=False)].shape[0]

11101

24. Save the final dataframe to a csv file

In [77]:
pay.to_csv('store.csv')